wsdl/credito.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="
http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.x
mlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime
/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema
" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://sc
hemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" ta
rgetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:import/>
<s:element name="ConsultaRegistro">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="NoInternet" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ConsultaRegistroResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" ref="Folio"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ValidaNip">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="NoInternet" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ValidaNipResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" ref="Folio"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
<s:schema elementFormDefault="qualified">
<s:element name="Folio" type="Folio"/><s:complexType name="Folio">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="Envio" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="NipAnt" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="FechaN" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
</s:sequence>
</s:complexType>
</s:schema>
</wsdl:types>
<wsdl:message name="ConsultaRegistroSoapIn">
<wsdl:part name="parameters" element="tns:ConsultaRegistro"/>
</wsdl:message>
<wsdl:message name="ConsultaRegistroSoapOut">
<wsdl:part name="parameters" element="tns:ConsultaRegistroResponse"/>
</wsdl:message>
<wsdl:message name="ValidaNipSoapIn">
<wsdl:part name="parameters" element="tns:ValidaNip"/>
</wsdl:message>
<wsdl:message name="ValidaNipSoapOut">
<wsdl:part name="parameters" element="tns:ValidaNipResponse"/>
</wsdl:message>
<wsdl:portType name="NipServiceSoap">
<wsdl:operation name="ConsultaRegistro">
<wsdl:input message="tns:ConsultaRegistroSoapIn"/>
<wsdl:output message="tns:ConsultaRegistroSoapOut"/>
</wsdl:operation>
<wsdl:operation name="ValidaNip">
<wsdl:input message="tns:ValidaNipSoapIn"/>
<wsdl:output message="tns:ValidaNipSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="NipServiceSoap" type="tns:NipServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="ConsultaRegistro">
<soap:operation soapAction="http://tempuri.org/ConsultaRegistro" style="document
"/>
