wsdl/nip/Validator.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. 
-->
<xs:schema version="1.0" targetNamespace="http://NipValidatorWS/" xmlns:tns="http://NipValidatorWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Validate" type="tns:Validate"/><xs:element name="ValidateResponse" type="tns:ValidateResponse"/>
  <xs:complexType name="Validate"><xs:sequence><xs:element name="Cuenta" type="xs:string" minOccurs="0"/>
   <xs:element name="No_Internet" type="xs:string" minOccurs="0"/>
   <xs:element name="Telefono" type="xs:string" minOccurs="0"/>
   <xs:element name="nip" type="xs:string" minOccurs="0"/>
   <xs:element name="service" type="xs:string" minOccurs="0"/>
  </xs:sequence></xs:complexType>
  <xs:complexType name="ValidateResponse">
  <xs:sequence>
    <xs:element name="return" type="xs:string" minOccurs="0"/>
  </xs:sequence></xs:complexType></xs:schema>
